<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>WEATHER APP</h1>
    <form action="" method="post">
        {%csrf_token%}
        <input type="text" name="place" id="place">
        <button type="submit">Search</button>
    </form>
    <!-- <h1>data={"place":place,"time":time,"deg_celcius":deg_celcius,"icon":icon,"condition":condition,"humidity":humidity}</h1> -->
    {%if Show%}
    <h2>{{place}}</h2>
    <h2>{{time}}</h2>
   <h3> Current Temperature : {{deg_celcius}}&deg;C</h3>
   <h3>Condition : {{condition}} <img src="{{icon}}" alt=""> </h3>
   <h3>Humidity : {{humidity}}</h3>
   {%endif%}

</body>
</html>